<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<th:block data-th-fragment="securityfragment">

<div class="fragmentBox">
  <div class="fragmentGrid">

    <!-- Profil Header -->
    <div class="fragmentHeader">
      <table class="frCategoryHeaderTab">
        <tr>
          <td class="frCategoryHeaderLeft">
            <a class="clickClose" data-th-href="@{/setting}">
              <img src="/img/close.svg" width="22" class="middles">
            </a>
            <a class="clickBack middles" data-th-onClick="rightHide('setting')"><!-- rightHide -> resize.js -->
              <img src="/img/linksblau.svg" class="middles" width="20">
              <span class="textBlau bottoms">Zur&#252;ck</span>
            </a>
          </td>
          <td class="frCategoryHeaderCentr">
            <strong>Privatsph&#228;re & Sicherheit</strong>
          </td>
          <td class="frCategoryHeaderRight">&#160;</td>
        </tr>
      </table>
    </div>

    <!-- Profil Body -->
    <div class="fragmentBody">
      <p class="leer2" >&#160;</p>
      <a class="finger" data-th-onClick="otherRequest('/blockedUsers', [[${myToken}]])">Blockerte Nutzer</a>
    </div>

  </div><!-- Ende Fragment Grid -->
</div>

</th:block>
</html>