<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

    <!-- Footer Manü Bar -->
<th:block data-th-fragment="menubar">

    <!-- msgRequestUri -> den hover effect bekommt von angeklickte Controller -->
    <div class="frMenuBar">
    <table class="frMenuTable">
        <td class="frMenuTd">
            <a data-th-href="@{/contacts}" class="frMenuAhref">
                <img width="36"
                     data-th-src="${contactsRequestUri == '/contacts'} ? @{/img/userBlau.svg} : @{/img/userGrau.svg}" >
                <p class="frMenuCountFalse"></p>
            </a>
        </td>
        <td class="frMenuTd">
            <a data-th-href="@{/phone}" class="frMenuAhref">
                <img width="36"
                     data-th-src="${phoneRequestUri == '/phone'} ? @{/img/telefonBlau.svg} : @{/img/telefonGrau.svg}" >
                <p class="frMenuCountFalse"></p>
            </a>
        </td>
        <td class="frMenuTd">
            <a data-th-href="@{/msg}" class="frMenuAhref">
                <img width="36" data-th-src="${msgRequestUri == '/msg' }
                    ? @{/img/chatBlau.svg} : @{/img/chatGrau.svg}" >
                <p class="frMenuCountFalse"></p>
            </a>
        </td>
        <td class="frMenuTd">
            <a data-th-href="@{/setting}" class="frMenuAhref" >
                <img width="36" data-th-src="${settingRequestUri == '/setting'}
                    ? @{/img/settingBlau.svg} : @{/img/settingGrau.svg}" >
                <p class="frMenuCountFalse"></p>
            </a>
        </td>
    </table>
    </div>
        <!-- data-th-onClick="postMapping('/', 'chatsfragment')"  -->
</th:block>

</html>