<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<!-- Login Head mit login.css, für alle Login Seiten-->
<th:block data-th-fragment="login_head">
  <title data-th-text="${@environment.getProperty('info.groupId')}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="96x96" data-th-href="@{/img/favicon/favicon-96x96.png}" />
  <link rel="icon" type="image/svg+xml" data-th-href="@{/img/favicon/favicon.svg}" />
  <link rel="shortcut icon" data-th-href="@{/img/favicon/favicon.ico}" />
  <link rel="apple-touch-icon" sizes="180x180" data-th-href="@{/img/favicon/apple-touch-icon.png}" />
  <link rel="manifest" data-th-href="@{/img/favicon/site.webmanifest}" />
  <link rel="stylesheet" data-th-href="@{/style/login.css}">
  <script type="text/javascript" data-th-src="@{/js/functions.js}"></script>
  <script type="text/javascript" data-th-src="@{/js/platform.js}"></script>
</th:block>


<!-- Chat Head mit chat.css, für alle Chat Seiten(nach Registrierung/Einloggen) -->
<th:block data-th-fragment="chat_head">
  <title data-th-text="${@environment.getProperty('info.groupId')}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" data-th-href="@{/img/favicon/favicon-96x96.png}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" data-th-href="@{/img/favicon/favicon.svg}" />
  <link rel="shortcut icon" data-th-href="@{/img/favicon/favicon.ico}" />
  <link rel="apple-touch-icon" sizes="180x180" data-th-href="@{/img/favicon/apple-touch-icon.png}" />
  <link rel="manifest" data-th-href="@{/img/favicon/site.webmanifest}" />
  <link rel="stylesheet" data-th-href="@{/style/index.css}">
  <link rel="stylesheet" data-th-href="@{/icons/icon.css}">
  <script type="text/javascript" data-th-src="@{/js/functions.js}"></script>
  <script type="text/javascript" data-th-src="@{/js/platform.js}"></script>
</th:block>

</html>