<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<th:block data-th-fragment="channelfragment">

  <div class="fragmentBox">
    <div class="gridBox">
      <div>
        <a data-th-href="@{/msg}">Schliessen</a>
        <h2 align="center">Header</h2>
      </div>

      <div>
        <br>
        <br>
        <br>
        <h2 align="center">Nachrichten Kanal Fragment(body)</h2>

      </div>

      <div>
        <h2 align="center"> Footer </h2>
      </div>
    </div>
  </div>


</th:block>

</html>