<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head data-th-insert="~{ fragments/components/head :: login_head }"></head>

<body>

<div class="container">

  <!-- :::::::::::::::::::::::::::::: Ausgabe Zone :::::::::::::::::::::::::::::::::: -->

  <article class="article layout">
    <div>
      <div class="errorsBox">
        <div class="leer3">&#160;</div>
        <h1>ENTSCHULDIGUNG</h1>
        <h3> &#123; <span class="darkred" data-th-text="${linkName}"></span> &#125;
          &#160;die gewünschte Seite konnte nicht gefunden werden</h3>
        <div class="leer1">&#160;</div>
        <span>bitte nutzen Sie die Loginseite, neue anzumelden </span>
        <a data-th-href="@{/}">Zur&#252;ck</a>
        <div class="leer3">&#160;</div>
        <img src="/img/what.png" width="256" height="256">
      </div>
    </div>
  </article>

  <!--<aside></aside>-->

  <!-- :::::::::::::::::::::::::::::: Ausgabe Zone :::::::::::::::::::::::::::::::::: -->

</div> <!-- ende container -->

</body>
</html>